<footer class="footer text-center text-white">
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-12">
                <h4 class="text-uppercase mb-4">Links</h4>
                <a class="btn btn-large" href="https://twitter.com/LukeKuenneke" target="_blank">
                    <fa-icon [icon]="faTwitter" size="6x"></fa-icon>
                </a>
                <a class="btn btn-large" href="https://www.linkedin.com/in/luke-kuenneke" target="_blank">
                    <fa-icon [icon]="faLinkedin" size="6x"></fa-icon>
                </a>
                <a class="btn btn-large" href="https://github.com/LukeKuenneke" target="_blank">
                    <fa-icon [icon]="faGithub" size="6x"></fa-icon>
                </a>
            </div>
            <div class="col-md-12">
                <a class="btn btn-large" href="https://gitlab.com/LukeKuenneke" target="_blank">
                    <fa-icon [icon]="faGitlab" size="6x"></fa-icon>
                </a>
                <a class="btn btn-large" href="https://codepen.io/LukeKuenneke" target="_blank">
                    <fa-icon [icon]="faCodepen" size="6x"></fa-icon>
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <h4 class="text-uppercase mb-4">Contact</h4>
            <h3><a href="mailto:Hello@LukeKuenneke.com" target="_blank">Hello@LukeKuenneke.com</a></h3>
            <br />
            <h3><a href="tel:1-513-223-3584" target="_blank">513-223-3584</a></h3>
        </div>
    </div>

    <div class="copyright py-4 text-center">
        <div class="container"><small>Copyright &copy; Luke Kuenneke {{currentYear}}</small></div>
    </div>
</footer>