<div class="bg-dark text-light">
  <app-header></app-header>
  <div class="container">

    <div class="row person-image-row">
      <div class="col-md-3 d-none d-sm-none d-md-block section-row-header"></div>
      <div class="col-xs-12 col-md-9 person-image">
        <img ngSrc="assets/images/Luke-Kuenneke.png" width="1" height="1" alt="Luke Kuenneke"
          class="col-md-9 col-12 img-fluid img-square rounded mx-auto w-100 h-100">
      </div>
    </div>

    <br />

    <section id="Name" class="container">
      <h2 class="d-block d-sm-block d-md-none">Name</h2>
      <div class="row">
        <div class="col-md-3 d-none d-sm-none d-md-block section-row-header">
          <h2>Name</h2>
        </div>
        <div class="col-xs-12 col-md-9">
          <h1 class="lead col-12 about-name">Luke Kuenneke</h1>
        </div>
      </div>
    </section>

    <br />

    <section id="Contact" class="container">
      <h2 class="d-block d-sm-block d-md-none">Contact</h2>
      <div class="row">
        <div class="col-md-3 text-right d-none d-sm-none d-md-block section-row-header">
          <h2>Contact</h2>
        </div>
        <div class="col-xs-12 col-md-9">
          <h3 class="about-"><a href="mailto:Hello@LukeKuenneke.com" target="_blank"
              rel="noopener">Hello&#64;LukeKuenneke.com</a>
          </h3>
        </div>
      </div>
    </section>

    <br />

    <section id="about" class="container">
      <h2 class="d-block d-sm-block d-md-none">About</h2>
      <div class="row">
        <div class="col-md-3 d-none d-sm-none d-md-block section-row-header">
          <h2>About</h2>
        </div>
        <div class="col-xs-12 col-md-9">
          <p class="lead col-xl-12 about-subject">Technology Leadership & Management</p>
          <p class="lead col-xl-12 about-subject">Software Engineering</p>
          <p class="lead col-xl-12 about-subject">Cybersecurity</p>
        </div>
      </div>
    </section>

    <br />

    <section id="Links" class="container">
      <h2 class="d-sm-block d-md-none">Links</h2>
      <div class="row">
        <div class="col-md-3 text-right d-none d-sm-none d-md-block section-row-header">
          <h2>Links</h2>
        </div>

        <section class="col-md-3 text-left d-md-block section-row-header social-links">
          <div class="col-9 d-flex justify-content-between">
            <a class="btn btn-large" href="https://www.linkedin.com/in/luke-kuenneke" target="_blank" rel="noopener">
              <fa-icon [icon]="faLinkedin" class="social-icon fa-fw"></fa-icon>
            </a>
            <a class="btn btn-large" href="https://github.com/LukeKuenneke" target="_blank" rel="noopener">
              <fa-icon [icon]="faGithub" class="social-icon fa-fw"></fa-icon>
            </a>
            <a class="btn btn-large" href="https://gitlab.com/LukeKuenneke" target="_blank" rel="noopener">
              <fa-icon [icon]="faGitlab" class="social-icon fa-fw"></fa-icon>
            </a>
          </div>

          <div class="col-md-3 text-right d-none d-sm-none d-md-block section-row-header"></div>
          <div class="col-9 d-flex justify-content-between">
            <a class="btn btn-large" href="https://scholar.google.com/citations?user=Mah4kwQAAAAJ&hl=en" target="_blank"
              rel="noopener">
              <fa-icon [icon]="faGoogleScholar" class="social-icon fa-fw"></fa-icon>
            </a>
            <a class="btn btn-large" href="https://codepen.io/LukeKuenneke" target="_blank" rel="noopener">
              <fa-icon [icon]="faCodepen" class="social-icon fa-fw"></fa-icon>
            </a>
            <a class="btn btn-large" href="https://bsky.app/profile/lukekuenneke.bsky.social" target="_blank"
              rel="noopener">
              <fa-icon [icon]="faBluesky" class="social-icon fa-fw"></fa-icon>
            </a>
          </div>
        </section>
      </div>
    </section>

    <br />

    <section id="Testimonials" class="container">
      <h2 class="d-sm-block d-md-none">Testimonials</h2>
      <div class="row">
        <div class="col-md-3 d-none d-sm-none d-md-block section-row-header">
          <h2>Testimonials</h2>
        </div>
        <div class="col-xs-12 col-md-9">

          <br />

          <app-testimonials></app-testimonials>
        </div>
      </div>
    </section>

    <br />

  </div>


  <app-footer></app-footer>

  <br />

</div>