.about-name,
.about-subject,
.about-contact {
  color: white;
  max-width: 100%;

  @media (768px >=width) {
    font-size: 2.3rex;
  }

  @media (768px < width) {
    font-size: 3.6rex;
  }
}


#Testimonials {
  height: 700px;
}

.section-row-header {
  text-align: right;
}

.social-icon {
  color: white;
  max-width: 100%;
  max-height: 100%;

  @media (768px >=width) {
    font-size: 7.9rex;
  }

  @media (768px < width) {
    font-size: 14rex;
  }
}

.person-image .col-md-9 {
  @media (768px >= width) {
    max-height: 100vmax;
    max-width: 100vmax;
  }

  @media (768px < width) {
    max-height: 45vmax;
    max-width: 30vmax;
  }
}