<div class="bg-dark text-light">
  <app-header></app-header>
  <div class="container">
    <div class="row col-xs-12">
      <img class="img-fluid img-square rounded mx-auto d-block" src="assets/images/Luke-Kuenneke.jpg"
        alt="Luke Kuenneke">
    </div>
    <div class="row col-lg-12">
      <div class="col-lg-12 text-center">
        <h1>Luke Kuenneke</h1>
      </div>
    </div>
    <br />
    <main>
      <section id="about" class="container">
        <h2 class="d-block d-sm-block d-md-none">About</h2>
        <div class="row">
          <div class="col-md-3 d-none d-sm-none d-md-block section-row-header">
            <h2>About</h2>
          </div>
          <div class="col-xs-12 col-md-9">
            <p class="lead">Cybersecurity | Software Engineering | Technology Leadership & Management</p>
          </div>
        </div>
      </section>
      <br />
      <section id="Résumé" class="container">
        <h2 class="d-sm-block d-md-none">Résumé</h2>
        <div class="row">
          <div class="col-md-3 d-none d-sm-none d-md-block section-row-header">
            <h2>Résumé</h2>
          </div>
          <div class="col-xs-12 col-md-9">
            <a href="/resume" target="_blank" class="btn btn-success btn-lg d-block">View Résumé
              <fa-icon [icon]="faFilePdf"></fa-icon>
            </a>
          </div>
        </div>
      </section>
      <br />
      <section id="Links" class="container">
        <h2 class="d-sm-block d-md-none">Links</h2>
        <div class="row">
          <div class="col-md-3 text-right d-none d-sm-none d-md-block section-row-header">
            <h2>Links</h2>
          </div>
          <div class="col-xs-12 col-md-9 d-xs-flex d-lg-flex d-xl-flex justify-content-between">
            <a class="btn btn-large" href="https://twitter.com/LukeKuenneke" target="_blank">
              <fa-icon [icon]="faTwitter" class="social-icon"></fa-icon>
            </a>
            <a class="btn btn-large" href="https://www.linkedin.com/in/luke-kuenneke" target="_blank">
              <fa-icon [icon]="faLinkedin" class="social-icon"></fa-icon>
            </a>
            <a class="btn btn-large" href="https://github.com/LukeKuenneke" target="_blank">
              <fa-icon [icon]="faGithub" class="social-icon"></fa-icon>
            </a>
            <a class="btn btn-large" href="https://gitlab.com/LukeKuenneke" target="_blank">
              <fa-icon [icon]="faGitlab" class="social-icon"></fa-icon>
            </a>
            <a class="btn btn-large" href="https://codepen.io/LukeKuenneke" target="_blank">
              <fa-icon [icon]="faCodepen" class="social-icon"></fa-icon>
            </a>
          </div>
        </div>
      </section>
      <br />
      <section id="Contact" class="container">
        <h2 class="d-block d-sm-block d-md-none">Contact</h2>
        <div class="row">
          <div class="col-md-3 text-right d-none d-sm-none d-md-block section-row-header">
            <h2>Contact</h2>
          </div>
          <div class="col-xs-12 col-md-9">
            <h3><a href="mailto:Hello@LukeKuenneke.com" target="_blank">Hello@LukeKuenneke.com</a></h3>
            <br />
            <h3><a href="tel:1-513-223-3584" target="_blank">513-223-3584</a></h3>
            <div class="col-lg-2"></div>
          </div>
        </div>
      </section>
    </main>
  </div>
  <app-footer></app-footer>
</div>
