/* You can add global styles to this file, and also import other style files */

.fallback-background {
    height: 100%;
    width: 100%;
    background-color: pink !important;
  }

/* Importing Bootstrap SCSS file. */
@import "node_modules/bootstrap/scss/bootstrap";